rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /student-documents/{studentId}/{fileName} {
      allow read, write: if isSignedIn();
      allow delete: if false;
    }

    match /managed-documents/{ownerType}/{ownerId}/{fileName} {
      allow read, write: if isSignedIn();
      allow delete: if false;
    }
  }
}
